.addRecipes {
    display:inline-block;
    justify-content: center;
    margin-left: 30%;
    margin-right:25%;
}

h1 {
    text-align: center;
}

/* .editRecipes {
    display:inline-block;
    justify-content: center;
} */

