.addRecipes {
    column-count: 2;
    column-fill: balance;
    margin: 20px;
    padding: 40px;
    
    
}

/* .categoryDiv {
    column-fill: balance;
} */

/* .ingredientsFields {
    column-count: 1;
    column-fill: balance;
}

.instructionFields {
    column-count: 1;
    column-fill: balance;
} */

h1 {
    flex-direction: row;
    text-align: center;
}