.nav {
  /* flex box layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 0 0 30px;
  background-color: #4cd2ff;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 30px;
  font-weight: 700;
  color: #f2f2f2;
  text-shadow: 4px 4px black;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  text-shadow: 2px 2px black;
  background-color: #4cd2ff;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

/* .navLink:hover {
  background-color: #41bbe382;
} */


